@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    --navbar-height: 5rem;
    --footer-height: 3rem;
    --padding-pc: 0 7rem;
    --padding-mobile: 2rem;
    --padding-form: 2.1rem 1.4rem;
    --color-primary: #3AACCE;
    --field-height: 2.3rem;
    --color-border: rgba(194, 191, 191, 0.644);
}
body{
    box-sizing: border-box;
    /* background-color: rgb(223, 241, 245); */
}